@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}
#container{
    background-color: hsl(0, 0%, 100%);
    font-family: 'Fraunces', serif;
    color: hsl(228, 12%, 48%);
    border-radius: 10px;
    height: 100vh;
    max-width: 500px;
    margin: 15px;
    border-box: box-sizing;
}
.image-container{
    height: 200px;
}
picture {
    width: 100%;
    height: 100%;
    display: flex;
   
  }
  picture img {
   object-fit: cover; 
      height: auto;
      width:100%;
      border-radius: 10px 10px 0 0;
  }

.header{
    padding: 10px;
}
.header p{
    letter-spacing: 5px;
    text-transform: uppercase;
}
h2{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: #202912;
    font-size: 30px;
}


.main{
    padding: 20px;
}
p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
#x p{
    padding: 15px 0;
}

.price p{
    color: seagreen;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: centers;
    font-family: 'Fraunces', serif;
    
}

del{
    color: hsl(228, 12%, 48%);
    padding-left: 30px;
    font-size: 14px;
    align-self: center;
}

button{
    width: 100%;
    margin-top: 30px;
    background-color: seagreen;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    padding: 15px 0;
    border: none;
    font-size: 18px;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    background-color: #202912;
}

svg{
    padding-right: 5px;
}
footer{
text-align: center;
}
.attribution{
  text-align: center;
  font-size: 14px;
}
.attribution a{
  text-decoration: none;
}

@media(min-width: 768px){
#container{
display: flex;
justify-content: center;
align-items: center;
font-size: 3rem;
max-height: 500px;
max-width: 550px;

}
.main{
  width: 50%;
  height: auto;
margin: 0 10px;
}
.image-container{
    height: 100%;
}
  picture {
    width: 100%;
    height: 100%;
   
  }
  picture img {
   object-fit: cover; 
      height: 100%;
      width:100%;
    border-radius: 10px 0 0 10px;
  }
}
